.user-order {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 28%;
  margin-left: 28%;
}
.user-order-title {
  text-align: center;
  float: center;
  font-size: 30px;
  font-family: cursive;
  margin-left: 32%;
  margin-bottom: 3%;
}
.submit {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 68%;
  margin-right: 35%;
  margin-top: 10px;
  float: center;
  background-color: white;
  font-family: cursive;
  font-size: 15px;
}
