.checkbox-title {
  font-family: cursive;
  font-size: 15px;
  width: 100px;
  padding-left: 30px;
  padding-bottom: 30px;
}
.box {
  width: 15px;
  height: 15px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}
